
@import "./settings/global.css";

@import "./generic/normalize.css";

@import "./elements/headings.css";
@import "./elements/images.css";
@import "./elements/span.css";

@import "./objects/flex-box.css";

@import "./components/header.css";
@import "./components/main.css";
@import "./components/buttons.css";
@import "./components/footer.css";
@import "./components/form.css";
@import "./components/project-card.css";
@import "./components/site-nav.css";


/* 
Settings: Glibal variables, config switches
Tools: Defaults mixing and unctions
Generic: Ground-zero stlye (normalize, resets, box sizing)
Base - Elements : Unclassed HTML elements (type selectors)
Objects: Cosmetic-free desin patterns
Components: Design components, chunks of UI 
Trumps: Helpers and overrides  
*/


/* :root {
    --main: #2B3A41;
    --secondary: #E5E5E5;
    --additional: #ECC2A2;
} */

/* * {
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
} */

/* .page {
    background-color: var(--main);
    color:var(--secondary);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

/* .main{
    background-color: var(--secondary);
    color: var(--main);
    min-height: 100vh;
    padding-left: 140px;
    padding-right: 140px;
} */

/* 
nav{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 140px;
    padding-right: 140px;
    background-color: #2b3a41ab;
}
nav a{
    font-size: 24px;
    float: right;
    align-content: center;
    margin-left: 50px;
    padding-bottom: 10px;
    text-decoration: none;
    color: var(--secondary);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

nav a:hover{
    color: var(--additional);
    border-bottom: 2px solid;
}

.sticky {
    position: fixed;
    margin-top: 0;
    width: 100%;
 } */

/* .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
} */

/* .header{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    padding-left: 140px;
    padding-right: 140px;
}


.header-section{
    padding-top: 150px;
    padding-bottom: 150px;
} */


/* .img-container{
    width: 50%;
}

.img-header{
    width: 392px;
    height: 589px;
    float: right;
    padding-top: 80px;
    overflow: hidden;
}  */

/* h1{
    font-size: 48px;
    letter-spacing: 2px;
    line-height: 135%;
} */

/* span{
    color: var(--additional);
} */

/* .btn{
    background-color: var(--main);
    color: var(--secondary);
    font-size: 40px;
    border: 2px solid white ;
    border-radius: 10px;
    padding: 20px;
    margin-top: 100px;
}

.btn:hover{
    color: var(--additional);
    border: 4px solid#ECC2A2 ;
    cursor: pointer;
}


.btn-smll{
    background-color: var(--additional);
    color: var(--main);
    border:2px solid var(--main);
    border-radius: 10px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    max-width: 200px;
    font-size: 20px;
    font-weight: bold;
}

.btn-smll:hover{
    border: 3px solid;
    cursor: pointer;
} */

/* main{
    padding-top: 50px;
    padding-bottom: 150px;
} */

/* h2{
    font-size: 36px;
}

h3{
    font-size: 30px;
}

p{
    width: 60%;
    font-size: 24px;
    line-height: 32px;
    padding-top: 40px;
    padding-bottom: 80px;
} */

/* .project p{
    width: 100%;
    padding-bottom: 40px;
}

.project a{
    color: var(--main);
    font-size: 20px;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 125px;
}

.project a:hover{
    border-bottom: 2px solid;
} */

/* .project{
    background-color: var(--additional);
    width: 40%;
    margin-bottom: 40px;
    padding: 20px;
    display: flex;;
    flex-direction: column;
} */

/* .img-small{
    width: 60%;
    overflow: hidden;
} */
/* 
footer{
    padding-top: 50px;
    min-height: 60vh;
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    flex-direction: row;
    background-color: var(--main);
    color: var(--secondary);
} */

/* .form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-line{
    margin-bottom: 10px;
    border-radius: 10px;
    padding:10px;
    border: none;
}
 */



