footer {
    background-color: var(--main);
    color: var(--secondary);
    padding-top: 30px;
    min-height: 60vh;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 30px;
}

#footer {
    display: flex;
    flex-direction: row;
}

.contact-text {
    width: 50%;
}

#Contact p {
    width: 100%;
    padding-bottom: 20px;
}

@media (max-width: 800px) {
    footer {
        padding: 20px;
        align-items: center;
        margin: auto;
    }

    #footer {
        flex-direction: column-reverse;
        display: flex;
    }

    p {
        width: 90%;
        font-size: 18px;
    }

    .contact-text {
        padding-top: 30px;
        width: 100%;
    }

    .work {
        width: 100%;
    }
}