.header{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}


.header-section{
    padding-top: 50px;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
      width: 90%;
      align-items: center;
      margin: auto;
    }

    .img-container{
        width: 70%;
    }
  }