main{
    padding-top: 50px;
}


.main{
    background-color: var(--secondary);
    color: var(--main);
    min-height: 100vh;
    padding-left: 140px;
    padding-right: 140px;
}

.main p {
    margin-top: 25px;
    margin-bottom: 50px;
}