main{
    padding-top: 50px;
    padding-bottom: 150px;
}


.main{
    background-color: var(--secondary);
    color: var(--main);
    min-height: 100vh;
    padding-left: 140px;
    padding-right: 140px;
}