.project {
    background-color: var(--additional);
    width: 40%;
    margin-bottom: 160px;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}

.project p {
    width: 100%;
    margin-bottom: 15px;
}


@media (max-width: 800px) {

    .project {
        width: 100%;
        padding-left: 20px;
        margin-right: 20px;
    }

    .img-small {
        margin-left: 50px;
        margin-bottom: -50px;
    }

}