nav{
    padding-right: 140px;
    background-color: #2b3a41ab;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}
nav a{
    font-size: 20px;
    margin-left: 50px;
    padding-bottom: 10px;
    text-decoration: none;
    color: var(--secondary);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

nav a:hover{
    color: var(--additional);
    border-bottom: 2px solid;
}

.sticky {
	position: sticky;
	top: 0;
    width: 100%;
    background-color: #2b3a41ab;
}
