.img-container {
    width: 50%;
}

.img-header {
    width: 100%;
    float: right;
}

.img-small {
    width: 100%;
    height: 100%;
    margin-left: 100px;
    margin-bottom: -100px;
}

.work {
    width: 90%;
}